html{
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

/*Cabeçalho do site*/

:root{
    --color--main: rgba(143, 35, 214);
}

header{
    height: 50px;
}

a, a:active, a:visited {
    text-decoration:none;
}

.cabecalho{
    color: black;
    font-weight: bold;
}

.itens{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% auto 10% 10% ;
    grid-template-rows: 50px;

    justify-items: start;
    align-items: center;
}

.nubank-logo-cabecalho{
    height: 100%;
    width: 100%;
    display: inline;
}

.collapsable{
    display: none;
}

.item-cabecalho{
    display: grid;
    margin-left: 14px;
}

.item-cabecalho-login{
    color: var(--color--main);
    
    grid-column-start: 7;
    grid-column-end:8;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: end;  
}

.item-cabecalho-login::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--color--main);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: opacity 300ms, transform 300ms ease;
    z-index: -1;
}
  
.item-cabecalho-login:hover:after {
    opacity: 1;
    background-color: var(--color--main);
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Conteudo do banner principal*/

.container-primeira-sessao{
    padding-bottom: 25px;
    min-height: 550px;
    background-image: url('/img/background-img-purple.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: grid;       
    grid-template-columns: 10% 10% 20% auto 10% 15% 10%;
    grid-template-rows: 25% 25% 25% 25%;
}

.texto-primeira-sessao{
    color: white;
    font-weight: bold;
    max-width: 400px;

    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 2;
    grid-row-end: 5;
}

.texto-primeira-sessao p:first-child{
    font-size: 45px;
    line-height: 53px;
    background:rgba(46, 49, 49, 0.5);
    padding:5px;
    border-radius: 10px;
}

.texto-primeira-sessao p:last-child{
    font-size: 20px;
    line-height:27px;
    background:rgba(46, 49, 49, 0.5);
    padding:5px;
    border-radius: 10px;
    margin-top: 10px;
}

/*Formulário do banner*/

.formulario-primeira-sessao{
    color: black;
    background:white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    height: 255px;
    

    display: flex;
    flex-direction: column;

    grid-column-start: 5;
    grid-column-end:7;
    grid-row-start: 2;
    grid-row-end: 4;
}

.formulario-titulo{
    font-size:20px;
    margin: 5px 10px 50px 10px ;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: grey;
  }

input[type=text]:focus {
    transition: none;
}

.formulario-input[type="number"]{
    border: none;
    border-bottom: 2px solid grey;
    padding: 10px;
    margin: 0px 10px;
}

.formulario-input:focus{
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat';
    color: grey;
    outline: none;
}

.formulario-botao{
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat';
    background:var(--color--main);
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin: 35px 0px 35px 0px;
}

.formulario-botao:hover{
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat';
    background:var(--color--main);
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/*Conteudo principal*/

.container-segunda-sessao{
    height: 500px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.nubank-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    margin-left: 170px;
}

.easyinvest-logo{
    grid-column-start: 2;
    grid-column-end:3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.texto-segunda-sessao{
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 2;
    grid-row-end: 4;
    max-width: 700px;
}

.texto-segunda-sessao p:first-child{
    color: black;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
}

.texto-segunda-sessao p:nth-child(3){
    color: black;
    font-weight: bold;
    font-size: 20px;
    line-height:27px;
}

.texto-segunda-sessao p:last-child{
    color: var(--color--main);
    font-weight: bold;
    font-size: 16px;
    transition: 2s;
}

.texto-segunda-sessao-link::after{
    content: "";
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--color--main);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: opacity 300ms, transform 300ms ease;
}

.texto-segunda-sessao-link:hover::after{
    opacity: 1;
    background-color: var(--color--main);
    transform: scaleX(1);
    transform-origin: bottom left;
    cursor: pointer;
}

.rodape{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 40% 40% 20%;

    background-color: #111111;
}

.rodape > ul {
    padding-top: 10%;
    padding-left: 25%;
}

.lista-titulo{
    color: white;
}

.lista-item{
    color: white;
    font-weight:bold;
}

.lista-nubank{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.lista-produtos{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.lista-explore{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

.lista-veja{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
}

.lista-transparencia{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.lista-ouvidoria{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}

.lista-contato{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.lista-app{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
}

.nubank-logo-rodape{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;

    width: 75%;
    height: 100%;
    color: white;
    
}

.texto-rodape{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;

    justify-self: start;
    align-self: center;
    color: white;

}

/*Media Queries*/
@media (max-width: 425px){
    .container-primeira-sessao{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        min-height: 800px;
    }

    .texto-primeira-sessao{
       place-self: center;
        grid-column-start: 1;
        grid-column-end:3;
        grid-row-start: 2;
        grid-row-end: 3;

        margin: 0 10px;
    }

    .formulario-primeira-sessao{
        width:inherit ;
        margin: 0 10px;

        place-self: center;
        grid-column-start: 1;
        grid-column-end:3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .itens{
        grid-template-columns: 25% 50% 25%;
    }
    .item-cabecalho, .item-cabecalho-login{
        margin:0;
        display: none;
    }

    .nubank-logo-cabecalho{
        grid-column-start: 1;
        grid-column-end:2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .collapsable{
        display: inline;
        grid-column-start: 3;
        grid-column-end:4;
        grid-row-start: 1;
        grid-row-end: 2;
        place-self: center;

        color: white;
        font-weight: bold;
        background: var(--color--main);
        border:none;
        border-radius: 20px;
        padding: 10px;
    }
}